/* color palette from <https://github.com/vuejs/theme> */
@import 'flex.css';
@import 'padding.css';
@import 'text.css';
@import 'button.css';
@import 'animation.css';
@import 'icons.css';
@import 'position.css';

:root {
  --color-bg: #1A1C1A;
  --color-overlay: rgba(26, 28, 26, 0.85);
  --color-border: #4A4A4A;
  --color-fg-secondary: #929292;
  --color-fg: #F3F3F3;
  --color-highlight-primary: #8ED18B;
  --color-primary: #4D894D;

  --color-hover: rgba(243, 243, 243, 0.04);
  --color-active: rgba(243, 243, 243, 0.12);

  --unit-xs: 4px;
  --unit-s: 8px;
  --unit-m: 16px;
  --unit-l: 24px;
}

body {
  min-height: 100vh;
  color: var(--color-fg);
  background: var(--color-bg);
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin: 0px;
  overscroll-behavior-y: contain;
}

.color--red { --color-value: #AC2525; }
.color--orange { --color-value: #AC6625; }
.color--blue { --color-value: #258CAC; }
.color--purple { --color-value: #9125AC; }
.color-fertilize { --color-value: #7d2a78 }
.color-water { --color-value: #2d5884 }
.color-trowel { --color-value: #377322 }
.color-shears { --color-value: #5b3d1f }
.color-note { --color-value: #9b8f29 }
.color-skull { --color-value: #662323 }

.volume--s { --shape-size: 36px }
.volume--m { --shape-size: 54px }
.volume--l { --shape-size: 72px }

.shape--circle {
  margin: 0px;
  width: var(--shape-size);
  height: var(--shape-size);
  border-radius: 100%;
}
.shape--square {
  margin: 0px;
  width: var(--shape-size);
  height: var(--shape-size);
  border-radius: calc(var(--shape-size) / 6);
}
.shape--rectangle {
  width: var(--shape-size);
  height: calc(var(--shape-size) / 2);
  margin: calc(var(--shape-size) / 4) 0px;
  border-radius: calc(var(--shape-size) / 6);
}

.rotate-180 {
  transform: rotate(180deg);
}

.holdable.hold--active {
  transform: scale(0.96);
  transition: transform linear 600ms 80ms;
}

.holdable::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  height: 2px;
  transform: scale(0, 1);
  background-color: var(--color-primary);
  width: 100%;
  animation-play-state: paused;
  transition: none;  
}

.holdable.hold--active::before {
  transform: scale(1, 1);
  transition: transform ease 600ms 80ms;
}