.row {
    display: flex;
    flex-direction: row;
}

.row--center { justify-content: center; }
.row--middle { align-items: center; }

.column {
    display: flex;
    flex-direction: column;
}

.column--center { align-items: center; }

.flex--wrap { flex-wrap: wrap; }
.flex { flex: 1; }

.gap-s { gap: var(--unit-s); }
.gap-m { gap: var(--unit-m); }
.gap-l { gap: var(--unit-l); }

.w-50 { width: 50%; }
.w-80 { width: 80%; }